<footer class="row fixed-bottom">
  <div class="col-6 col-sm-4">
    <h6><small>
      <span>© {{ currentYear }} Ashton Wai.</span>
      <span class="d-none d-md-inline"> All rights reserved.</span>
    </small></h6>
  </div>
  <div class="col-4 d-none d-sm-block text-center">
    <h6>ashtonwai725@gmail.com</h6>
  </div>
  <div class="col-6 col-sm-4 text-right">
    <div class="social">
      <a href="https://github.com/indexsky" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/ashtonwai" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
    </div>
  </div>
</footer>
