<footer class="row">
  <div class="col-4">
    <h6><small>
      © {{ currentYear }} Ashton Wai.
      <span class="d-none d-md-block d-lg-block d-xl-block"> All rights reserved.</span>
    </small></h6>
  </div>
  <div class="col-4 text-center">
    <h6>wai.king.ashton@gmail.com</h6>
  </div>
  <div class="col-4 text-right">
    <div class="social">
      <a href="https://github.com/indexsky" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/ashtonwai" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
    </div>
  </div>
</footer>
