@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

.navbar {
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 100;
  background-color: transparent;
  .nav-item {
    width: 100px;
    margin: 0 0.5rem;
    text-align: center;
    &::after {
      display: block;
      width: 0;
      border-bottom: 2px solid black;
      content: '';
      @include transition(width .3s);
    }
    &.active::after, &:hover::after {
      width: 100%;
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    height: 60px;
    .navbar-brand {
      margin-right: 0;
      padding: 0;
    }
    .navbar-nav {
      -webkit-box-orient: horizontal;
      -ms-flex-direction: row;
      flex-direction: row;
      .nav-item {
        width: 80px;
        margin: 0.25rem;
      }
    }
  }
}
