@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: transparent;
}
.nav-item {
  width: 100px;
  margin: 0 0.5rem;
  text-align: center;
  &::after {
    display: block;
    width: 0;
    border-bottom: 2px solid black;
    content: '';
    @include transition(width .3s);
  }
  &.active::after, &:hover::after {
    width: 100%;
  }
}
.logo {
  width: 50px;
}

@media (min-width: 769px) and (max-width: 991px) {
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    .nav-link {
      padding: 0.5rem 1rem;
    }
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    .nav-link {
      padding: 0.5rem 1rem;
    }
  }
}
@media (max-width: 757px) {
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    .nav-link {
      padding: 0.5rem 1rem;
    }
  }
}
