<div class="project-info">
  <div class="info-group">
    <h1 class="display-4 project-title">{{ project.title }}</h1>
    <p class="font-weight-light">{{ project.description }}</p>
  </div>
  <div class="info-group">
    <div class="info-item d-flex">
      <div class="d-inline-block">
        <i class="fa fa-puzzle-piece fa-lg" title="Technologies"></i>
      </div>
      <div class="d-inline-block">
        <span *ngFor="let tech of project.technologies; last as isLast">
          {{ tech }} {{ !isLast ? '∙' : '' }}
        </span>
      </div>
    </div>
    <div class="info-item d-flex">
      <div class="d-inline-block">
        <i class="fa fa-book fa-lg" title="Libraries"></i>
      </div>
      <div class="d-inline-block">
        <span *ngFor="let lib of project.libraries; last as isLast">
          {{ lib }} {{ !isLast ? '∙' : '' }}
        </span>
      </div>
    </div>
    <div class="info-item d-flex">
      <div class="d-inline-block">
        <i class="fa fa-calendar fa-lg" title="Complete Date"></i>
      </div>
      <div class="d-inline-block">
        {{ project.date | date }}
      </div>
    </div>
  </div>
  <div class="info-group">
    <div *ngIf="project.platforms" class="d-inline-block platforms">
      <i
        *ngFor="let platform of project.platforms"
        class="fa fa-{{ platform.icon }} fa-2x"
        placement="bottom"
        [ngbTooltip]="platform.name"></i>
    </div>
    <div *ngIf="project.platforms && project.links" class="d-inline-block icon-divider"></div>
    <div *ngIf="project.links" class="d-inline-block links">
      <a
        *ngFor="let link of project.links"
        [href]="link.path"
        target="_blank"
        placement="bottom"
        [ngbTooltip]="link.name">
        <i class="fa fa-{{ link.icon }} fa-2x"></i>
      </a>
    </div>
  </div>
</div>
