.info-group {
  margin: 30px;
  & > .info-item:not(:last-child) {
    margin-bottom: 15px;
  }
  & > .info-item > div:first-child {
    margin-right: 15px;
  }
}
.icon-divider {
  width: 2px;
  height: 20px;
  margin: 0 10px;
  background-color: #000;
}
.platforms > i {
  margin-right: 1rem;
}
.links > a {
  margin-left: 1rem;
}

@media (max-width: 991px) {
  .project-title {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .info-group {
    margin: 10px 0;
    & > .info-item:not(:last-child) {
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 0;
    }
  }
}