<div
  class="fullpage"
  [mnFullpage]="options"
  [mnFullpageKeyboardScrolling]="true"
  [mnFullpageSlidesNavigation]="true"
  mnFullpageSlidesNavPosition="bottom">
  <div class="section fp-section fp-table" data-anchor="hello">
    <div class="fp-tableCell">
      <div class="page">
        <app-hello></app-hello>
      </div>
    </div>
  </div>
  <div class="section fp-section fp-table" data-anchor="projects">
    <div class="fp-tableCell">
      <div *ngFor="let project of projects$ | async; last as isLast" class="slide">
        <div class="container">
          <div class="page">
            <app-project [project]="project"></app-project>
          </div>
        </div>
        {{ isLast ? rebuild() : null }}
      </div>
    </div>
  </div>
</div>
