.navbar {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.fp-tableCell {
  height: 100%;
}
.page {
  display: flex;
  height: 100%;
  padding: 100px 0;
  flex-direction: column;
  justify-content: center;
}
.code-block {
  max-width: 500px;
  min-height: 200px;
  padding: 30px 50px;
  background-color: lightgray;
}