$code-font: monaco, Consolas, "Lucida Console", monospace;

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
      @content
  }
  @-moz-keyframes #{$name} {
      @content
  }
  @-ms-keyframes #{$name} {
      @content
  }
  @-o-keyframes #{$name} {
      @content
  }
  @keyframes #{$name} {
      @content
  }
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: transparent;
}
.logo {
  width: 50px;
}
.fp-tableCell {
  height: 100%;
}
.page {
  display: flex;
  height: 100%;
  padding: 100px 0;
  flex-direction: column;
  justify-content: center;
}
.me {
  width: 250px;
}
.hello {
  color: lightgray;

  h1 {
    font-weight: 500;
  }
}
.code-block {
  div {
    max-width: 600px;
  }
}
.code-box {
  font-family: $code-font;
  font-size: 16px;
  min-height: 200px;
  padding: 30px 40px;
  border-radius: 25px;
  background-color: #eee;
}
.typed-cursor {
  opacity: 1;
  @include keyframes(blink) {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  };
  @include animation(blink 0.7s infinite);
}
@media (min-width: 769px) and (max-width: 991px) {
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;

    .nav-link {
      padding: 0.5rem 1rem;
    }
  }
  .me {
    width: 200px;
  }
  .code-block {
    div {
      margin: 0 auto;
    }
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;

    .nav-link {
      padding: 0.5rem 1rem;
    }
  }
}
@media (max-width: 757px) {
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;

    .nav-link {
      padding: 0.5rem 1rem;
    }
  }
  .me {
    width: 150px;
  }
  .code-box {
    padding: 20px;
    font-size: 14px;
  }
}
