<app-navbar></app-navbar>
<div
  class="fullpage"
  [mnFullpage]="options"
  [mnFullpageKeyboardScrolling]="true"
  [mnFullpageSlidesNavigation]="true"
  mnFullpageSlidesNavPosition="bottom">
  <div class="section fp-section fp-table" data-anchor="hello">
    <div class="fp-tableCell">
      <div class="page">
        <app-hello></app-hello>
      </div>
    </div>
  </div>
  <div class="section fp-section fp-table" data-anchor="projects">
    <div class="fp-tableCell">
      <div class="slide">
        <div class="container">
          <h1 class="display-4">Organic Shop</h1>
        </div>
      </div>
      <div class="slide">
        Slide 2
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
