<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container justify-content-between">
    <a class="navbar-brand" href="#">A</a>
    <ul class="navbar-nav menu">
      <li class="nav-item" data-menuanchor="home">
        <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item" data-menuanchor="projects">
        <a class="nav-link" href="#projects">Projects</a>
      </li>
    </ul>
  </div>
</nav>
<div
  class="fullpage"
  [mnFullpage]="options"
  [mnFullpageNavigation]="true"
  [mnFullpageKeyboardScrolling]="true">
  <div class="section fp-section fp-table" data-anchor="home">
    <div class="fp-tableCell">
      <div class="page">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-lg-5 text-center">
              <img src="http://via.placeholder.com/200x200" class="rounded-circle me" />
            </div>
            <div class="col-md-8 col-lg-7">
              <div class="code-block rounded">
                Hello World
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section fp-section fp-table" data-anchor="projects">
    <div class="fp-tableCell" style="background-color: red">
      <div class="page">
        <div class="container">
          Section 2
        </div>
      </div>
    </div>
  </div>
  <div class="section fp-section fp-table">
    <div class="fp-tableCell" style="background-color: green">
      Section 3
    </div>
  </div>
</div>
