<app-navbar></app-navbar>
<div
  class="fullpage"
  [mnFullpage]="options"
  [mnFullpageNavigation]="true"
  mnFullpageNavPosition="right" >
  <div class="section fp-section fp-table" data-anchor="hello">
    <div class="fp-tableCell">
      <div class="page">
        <app-hello></app-hello>
      </div>
    </div>
  </div>
  <div class="section fp-section fp-table" data-anchor="projects">
    <div class="fp-tableCell">
      <div class="slide">
        Slide 1
      </div>
      <div class="slide">
        Slide 2
      </div>
    </div>
  </div>
</div>
