/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/css/font-awesome.css';
@import "~fullpage.js/dist/jquery.fullpage.css";

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

a {
  color: lightgray;
  @include transition(color .3s);
  &:hover {
    color: #000;
    text-decoration: none;
  }
}
