<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-5 text-center">
      <img src="assets/me.jpg" class="rounded-circle img-fluid img-thumbnail me" />
    </div>
    <div class="col-sm-12 col-md-12 col-lg-7">
      <div class="code-block">
        <div class="hello">
          <i class="fa fa-quote-left fa-4x"></i>
          <h1 class="display-4 d-inline-block">Hello</h1>
        </div>
        <div class="code-box">
          <div id="typedStrings">
            <p>
              <strong>> </strong>My name is <strong>Ashton Wai</strong>.<br>
              <strong>> </strong>I am a creative web & mobile developer. <br>
              <strong>> </strong>Enjoy building websites, apps and games. <br>
              <strong>> </strong>Graduated from Rochester Institute of Technology. <br>
              <strong>> </strong>Welcome to my portfolio website. :) 
            </p>
          </div>
          <span id="typed"></span>
        </div>
      </div>
    </div>
  </div>
</div>
